.search-bar {
   max-width: 40rem;
   margin: 0 auto;

   .result {
      position: absolute;
      z-index: 1;
      width: 100%;
      max-width: 40rem;
      .menu {
         // display: none;
         padding: 0.5rem 0;
         margin: 0.125rem 0 0;
         font-size: 1rem;
         color: #212529;
         text-align: left;
         list-style: none;
         background-color: #fff;
         background-clip: padding-box;
         border: 1px solid rgba(0, 0, 0, 0.15);
         border-radius: 0.25rem;

         .item {
            display: block;
            width: 100%;
            padding: 0.25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            margin: 3px 0;
            cursor: pointer;

            &:hover {
               background-color: #ccc;
            }

            span {
               margin-right: 20px;
            }
            .symbol {
               font-weight: 700;
               width: 80px;
               display: inline-block;
            }
         }
      }
   }
}
